<!DOCTYPE html>
<html lang="pt-BR">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/brands.min.css" integrity="sha512-lCU0XyQA8yobR7ychVxEOU5rcxs0+aYh/9gNDLaybsgW9hdrtqczjfKVNIS5doY0Y5627/+3UVuoGv7p8QsUFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
<link rel="stylesheet" href="/styles/nav.css">  
<meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Image</title>
</head>
<body>
    <%- include('parts/navbar') -%>
    <br />

    <div class="container">
        <div class="wrapper">
            <h2>Atualizar o Upload <i class="fa-solid fa-upload"></i> </h2>
            <form method="POST" action="/update/<%- id %> " enctype="multipart/form-data">
                <div class="input-wrapper">
                    <input type="text" name="title" class="input" placeholder="Insira um Título" value="<%= title %> " />
                </div>
                <div class="input-wrapper">
                    <input type="file" name="filename" value="<%= filename %> " class="input" placeholder="Escolha a sua Image para ser armazenada" />
                </div>
                <div class="input-wrapper">
                    <textarea type="file" name="descript" class="input" rows="4" cols="50"><%= descript  %></textarea>
                </div>
                <div>
                    <button type="submit" class="btn-button"><i class="fa-solid fa-refresh"></i></button>
                </div>
                
                
            </form>
        </div>
    </div>
</body>
</html>